.container {
  margin: 10px 15px;
}

.date {
  font-size: 14px;
  font-weight: 600;
  color: rgb(128, 128, 128);
}

.today {
  font-size: 2rem;
  margin-top: 10px !important;
  color: #ccc;
}

.section_container {
  margin-top: 5px;
}

.image_container {
  background: rgb(23, 23, 23);
  height: 37vh;
  border-radius: 10px;
}

.home_img {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
