.container {
  margin: 10px 15px;
}

.date {
  font-size: 14px;
  font-weight: 600;
  color: rgb(128, 128, 128);
}

.today {
  font-size: 2rem;
  margin-top: 10px !important;
  color: #ccc;
}

.section_container {
  margin-top: 5px;
}

/* .image_container {
  background: rgb(23, 23, 23);
  height: 30vh;
  border-radius: 10px;
} */

.home_img {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  object-fit: contain;
}

.login {
  border: 1px solid #fff;
  padding: 3px 25px;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  border-left: none;
}

.img_btm {
  background: rgb(23, 23, 23);
  height: 40px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  width: 100%;
}
